.header {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    justify-content: space-between;
    max-width: 1280px;
    align-items: center;
}

.header__wrap {
    width: 100%;
}

.links__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 765px;
    height: 38px;
    align-items: center;
}

.header__title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
}

.header__link {
    color: #000;
    margin-right: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    cursor: pointer;
    text-decoration: none;
}

.header__login {
    width: 105px;
    height: 38px;
    padding: 9px 17px;
    border-radius: 8px;
    border: none;
    background: #3A3395;
    color: white;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.header__user {
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.header__create-recipe {
    width: 25px;
    height: 25px;
    margin: auto 0;
    margin-right: 34px;
    cursor: pointer;
}

.header__block-user{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.header__user-img {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin-right: 17px;
}

.header__user-fullname {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}

.header__user-role {
    color: #909090;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.header__menu {
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 999;
    background-color: white;

    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
}

.header__menu-item {
    padding: 12px 16px;
    color: #111827;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;   
    cursor: pointer; 
}
.header__menu-item:first-child {
    border-bottom: 1px solid #F3F4F6;
}
.header__menu-item:last-child {
    color: #BE2D2D;
    border-top: 1px solid #F3F4F6;
}
