.footer {
    display: flex;
    flex-direction: row;
    max-width: 1216px;
    margin: 48px auto;
    justify-content: space-between;
}

.footer__wrap {
    width: 100%;
}

.footer__text {
    color: #9CA3AF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer__icons{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.footer__icon{
    margin-left: 24px;
    cursor: pointer;
}