<ng-container *ngTemplateOutlet="tableComponent"></ng-container>

<ng-template #tableComponent>
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alex</td>
            <td>20</td>
          </tr>
          <tr>
            <td>Mike</td>
            <td>25</td>
          </tr>
          <tr>
            <td>Dave</td>
            <td>30</td>
          </tr>
        </tbody>
      </table>
</ng-template>