<div class="dialog__wrap">
    <div class="dialog">
        <div class="attention">
            <img class="attention__img" src="../../../assets/attention.svg" alt="attention">
        </div>
        <div>
            <h1 mat-dialog-title>Поделиться этим рецептом?</h1>
            <div mat-dialog-content>
                Вы хотите поделиться этим рецептом со всеми?
            </div>

        </div>
    </div>

    <div class="dialog__actions" mat-dialog-actions>
        <button class="dialog__close" mat-button mat-dialog-close>Закрыть</button>
        <button class="dialog__share" mat-button mat-dialog-close cdkFocusInitial>Поделиться</button>
    </div>
</div>