.dialog__wrap {
    display: flex;
    flex-direction: column;
}

.dialog {
    display: flex;
    flex-direction: row;
    padding: 24px;
    padding-bottom: 16px;
}

.attention {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #FEE2E2;
    padding: 8px;
    margin-top: 20px;
}

.dialog__actions {
    background-color: #F9FAFB;
    padding: 12px 24px;
    justify-content: flex-end;
}

.dialog__close {
    border-radius: 6px;
    border: 1px solid  #D1D5DB;
}
.dialog__share {
    color: white !important;
    border-radius: 6px;
    background-color: #3A3395;
    /* border: 1px solid  #3A3395; */
}