
.popup {
    background-color: white;
    width: 400px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup__title {
    padding: 0;
    color: #111827;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: auto 0;

}

.popup__text {
    color: #6B7280;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}