<div class="dialog__wrap">
    <div class="dialog">
        <div class="dialog__img-wrap">
           <img class="dialog__img" src="../../../../assets/attention.svg" alt=""> 
        </div>
        <div>
            <p class="dialog__title">Удалить этот рецепт?</p>
            <p class="dialog__text">Вы хотите удалить этот рецепт</p>
        </div>
    </div>

    <div class="dialog__actions" mat-dialog-actions>
        <button class="dialog__cancel" mat-button (click)="dialogRef.close()">Отмена</button>
        <button class="dialog__delete" mat-button (click)="dialogRef.close(data)">Удалить</button>
    </div>
</div>