<div class="err__wrap">
    <div class="err">
        <div class="err__main">
            <p class="err__type">404 ОШИБКА</p>
            <p class="err__title">Страница не найдена</p>
            <p class="err__desc">К сожалению, мы не смогли найти страницу, которую вы ищете</p>
            <a class="err__return" (click)="return()">Назад →</a>
            <a routerLink="/" class="err__home">На главную →</a>
        </div>
        <img class="err__pic" src="https://ea-backend.wckz.space/dist/assets/image/image_404.png" alt="err__pic">
    </div>
</div>