<form class="form">

  <div class="form__col">
    <mat-form-field class="form__input">
      <mat-label>Дело</mat-label>
      <input matInput placeholder="Что нужно сделать?.." type="text" name="text" #text="ngModel" [(ngModel)]="inputText"
        required>
    </mat-form-field>

    <div *ngIf="text.invalid && (text.dirty || text.touched)">
      <div *ngIf="text.hasError('required')" class="alert">
        Поле должно быть заполнено
      </div>
    </div>
  </div>

  <button class="form__btn" mat-raised-button color="primary" type="submit"
    [disabled]="text.invalid || inputText.trim().length === 0" (click)="addTodo()">
    Добавить
  </button>

</form>

<div class="todo">
  <p>Список дел: </p>
  <ul *ngIf="todoArr.length > 0">
    <li class="todo__item" *ngFor="let item of todoArr">
      {{item}}
    </li>
  </ul>
  <p *ngIf="todoArr.length === 0">
    Ваш список пуст...
  </p>

</div>