<div class="table">

  <div class="table__col">
    <div class="table__col-header">
      <p>По порядку</p>
      <button mat-flat-button color="primary" (click)="disableStraightOperator()">Стоп</button>
    </div>
    <div class="table__col-content">
      <p *ngFor="let value of straightArray">{{value}}</p>
    </div>

  </div>

  <div class="table__col">
    <div class="table__col-header">
      <p>Рандом</p>
      <button mat-flat-button color="primary" (click)="disableRandomOperator()">Стоп</button>
    </div>
    <div class="table__col-content">
      <p *ngFor="let value of randomArray">{{value}}</p>
    </div>

  </div>

</div>