<div class="buttons">
  <button class="buttons__btn" (click)="getBtn1Function()" mat-flat-button color="primary">Кнопка 1</button>
  <button class="buttons__btn" (click)="getBtn2Function()" mat-flat-button color="accent">Кнопка 2</button>
  <button class="buttons__btn" (click)="post3Function()" mat-flat-button color="warn">Кнопка 3</button>
  <button class="buttons__btn" (click)="getBtn4Function()" mat-flat-button color="primary">Кнопка 4</button>
  <button class="buttons__btn" (click)="getBtn5Function()" mat-flat-button color="accent">Кнопка 5</button>
  <button class="buttons__btn" (click)="deleteBtn6Function()" mat-flat-button color="warn">Кнопка 6</button>
</div>

<a routerLink="/resolve">To resolve component</a>

<router-outlet></router-outlet>