<div class="err__wrap">
    <div class="err">
        <div class="err__main">
            <p class="err__type">401 ОШИБКА</p>
            <p class="err__title">Доступ запрещен</p>
            <p class="err__desc">У вас нет прав на просмотр этого раздела</p>
            <a class="err__return" (click)="return()">Назад →</a>
            <a routerLink="/" class="err__home">На главную →</a>
        </div>
        <img class="err__pic" src="https://ea-backend.wckz.space/dist/assets/image/image_404.png" alt="err__pic">
    </div>
</div>