@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    
}
.wrapper > * {
    max-width: 500px;
    margin-bottom: 10px;
}